
*{
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}
body{
    background-color: #111;
}
nav {
    color: white;
    float: right;
    margin-top: 5mm;
    margin-right: 5%;
    word-spacing: 15px;
}

nav,

a {

    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    transition: all .2s ease-in-out;

    --s: 0.1em;   /* the thickness of the line */
    --c: orange; /* the color */
 
    
    color: white;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

nav a:hover {
  color: orange;
  transition: 0.5s;
  letter-spacing: 3px;
    --_p: 100%
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #111;
}
.about img{
    height: auto;
    width: 420px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: #f9004d;
}
.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}