
*{
    box-sizing: border-box;
    font-family: "Audiowide", sans-serif;
}
body{
    background-color: #111;
}
nav {
    color: white;
    float: right;
    margin-top: 5mm;
    margin-right: 5%;
    word-spacing: 15px;
}

nav,

a {

    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    transition: all .2s ease-in-out;

    --s: 0.1em;   /* the thickness of the line */
    --c: orange; /* the color */
 
    
    color: white;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

nav a:hover {
  color: orange;
  transition: 0.5s;
  letter-spacing: 3px;
    --_p: 100%
}
.about{
    width: 100%;
    padding: 78px 0px;
    background-color: #111;
}
.about img{
    height: 416px;
    width: 396px;
    border-radius: 8px;
}
.about-text{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.about-text h1{
    color: white;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-family: "Audiowide", sans-serif;
}
.about-text h5{
    color: white;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}
span{
    color: orange;
}
.about-text p {
    color:grey;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 16px;
    margin-bottom: 45px;
}

 /*fade in effect */


.char{
    font-size: 16px;
    height: 40px;
    animation: an 1s ease-out 1 both;
    display: inline-block;
}   
 @keyframes an{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px, -40px, -150px) rotate3d(1, -1, 0, 35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0, 0, 0);
    }
}

button{
    background-color: orange;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
button:hover{
    background: transparent;
    border: 2px solid orange;
    cursor: pointer;
}


/* GLITCH EFFECT */



h1{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  h1:before,
  h1:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  h1:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  } 
  
  h1:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }


 /* FOR THE IMAGE DESIGN */

 .box {
  position: relative;
  width: 400px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, orange, orange);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;


}
.box::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, orange, orange);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;


}


@keyframes animate {
  0% {
      transform: rotate(0deg);
  }

  100% {
      transform: rotate(360deg);
  }
}

.form{
  position: absolute;
  inset: 2px;
  background: #28292d;
  z-index: 10;
  border-radius: 8px;
  height: 390px;
  display: flex;
  flex-direction: column;
  width: 396px;
  align-items: center;

}



/* FOR THE SECOND SECTION*/


.box2 {
  position: relative;
  width: 410px;
  height: 420px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
  
}

.about #img2{
  height: 390%;
  width: 350px;
  border-radius: 8px;
}
.box2 {
  position: relative;
  width: 400px;
  height: 405px;
  background: #1c1c1c;
  border-radius: 8px;
  overflow: hidden;
}

.box2::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, grey, grey);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;


}
.box2::after {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 420px;
  background: linear-gradient(0deg, transparent, grey, grey);
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;


}



/* KNOW ME EFFECTS*/

.focus {
  font-size: 3rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  line-height: 1;
  position: relative;
  width: 179px;
}
.focus:before {
  content: "Focus";
  filter: blur(3px);
}
.focus:after {
  content: "";
  position: absolute;
  width: 50px;
  height: calc(100% + 8px);
  top: -4px;
  left: 0;
  border-top: 2px solid;
  border-bottom: 2px solid;
  -webkit-animation: mask-move 1s linear infinite alternate;
          animation: mask-move 1s linear infinite alternate;
}
.focus--mask {
  overflow: hidden;
  position: absolute;
  width: 50px;
  height: 100%;
  top: 0;
  left: 0;
  background: #89cb66;
  -webkit-animation: mask-move 1s linear infinite alternate;
          animation: mask-move 1s linear infinite alternate;
}
.focus--mask-inner {
  -webkit-animation: mask-inner-move 1s linear infinite alternate;
          animation: mask-inner-move 1s linear infinite alternate;
}

@-webkit-keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@keyframes mask-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(129px);
  }
}
@-webkit-keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}
@keyframes mask-inner-move {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-129px);
  }
}


/*fade in image*/

