
.bodies{
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center ;
  height: 32vh;
  

}
h1 span{
  color: #fff;
}

h1 {
  position: relative;
    float: left;
    color: #222;
    font-size: 25mm;
    font-family: "Audiowide", sans-serif;
    word-spacing: 10px;
    margin-left: 5%;
    z-index: 1;
}
h1::before{
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border-right: 4px solid #fff;
  animation: animate 8s linear infinite;
  margin-top:32mm;
  z-index: 1;
  filter: drop-shadow(0 0 10px #fff);
}
@keyframes animate{
  0%{
    width:0;
  }
  70%,90%{
    width:100%;
  }
}

nav {
    color: white;
    float: right;
    margin-top: 5mm;
    margin-right: 5%;
    word-spacing: 15px;
}

nav,

a {

    text-decoration: none;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    transition: all .2s ease-in-out;

    --s: 0.1em;   /* the thickness of the line */
    --c: orange; /* the color */
 
    
    color: white;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.5s;
}

nav a:hover {
  color: orange;
  transition: 0.5s;
  letter-spacing: 3px;
    --_p: 100%
}



  .inverted-1:hover {  
    background-position:left;
  }

  /*IMAGE ARROW*/




  @media screen and (min-width: 480px) {
   
 
  body {
    background: #000;
  }
   }  




  /*TEXT DESIGNER UX/UI*/
  .hidden {
    opacity:0;
  }
  .console-container {
   
    font-family: "Audiowide", sans-serif;
    font-size:2em;
    text-align:center;
    height:200px;
    width:600px;
    display:block;
    position:absolute;
    color:orange;
    top:45mm;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    z-index: 1;
  }
  .console-underscore {
     display:inline-block;
    position:relative;
    top:-0.14em;
    left:10px;
  }


  /*CIRCLE*/

  .circle {
    background: #000;
    border-radius: 50%;
    border: 1px solid #111;
    border-left: 3px solid grey;
    border-top: 1.5px solid grey ;
    border-bottom: 1.5px solid grey ;
    transform: rotate(-45deg);
    width: 400px;
    height: 400px;
    position:absolute;
    display:block;
    top:100mm;
    bottom:0;
    left:0;
    right:70mm;
    margin:auto;
    opacity: 0.4;

}

#show{
  color: whitesmoke;
  text-align: center;
  opacity: 0.6;
}


video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  z-index: 2;
  mix-blend-mode: screen;
  background: #111;
  
}
.inside{
  font-family: "Audiowide", sans-serif;
  font-size:23px;
  text-align:center;
  height:200px;
  width:200px;
  display:block;
  position:absolute;
  top:110mm;
  bottom:0;
  left:0;
  right:70mm;
  margin:auto;
  z-index: 1;
  letter-spacing: 5px;
}

#show:hover{
  letter-spacing: 3px;
  color: #1095c1;
  cursor: zoom-out;
    opacity: 1;
}


.foot {
   
  font-family: "Audiowide", sans-serif;
  font-size:15px;
  text-align:justify;
  height:200px;
  width:400px;
  display:block;
  position:absolute;
  color:grey;
  top:180mm;
  bottom:0;
  left:70mm;
  right:0;
  margin:auto;
  z-index: 1;
}




/*TRANSITION*/

#show {
  --b: 0.1em;   /* the thickness of the line */
  --c: #1095c1; /* the color */
  
  color: whitesmoke;
  padding-block: var(--b);
  background: 
    linear-gradient(var(--c) 50%,#000 0) 0% calc(100% - var(--_p,0%))/100% 200%,
    linear-gradient(var(--c) 0 0) 0% var(--_p,0%)/var(--_p,0%) var(--b) no-repeat;
  -webkit-background-clip: text,padding-box;
          background-clip: text,padding-box;
  transition: .3s var(--_s,0s) linear,background-size .3s calc(.3s - var(--_s,0s));
}
#show:hover {
  --_p: 100%;
  --_s: .3s;
}

#show {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 25px;
  font-family: "Audiowide", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}



/* effects for footer*/

#text1 {
  background: 50% 100%/50% 50% no-repeat radial-gradient(ellipse at bottom, #fff, transparent, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 15px;
  font-family: "Audiowide", sans-serif;
  -webkit-animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
          animation: reveal 3000ms ease-in-out forwards 200ms, glow 2500ms linear infinite 2000ms;
}
@-webkit-keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@keyframes reveal {
  80% {
    letter-spacing: 8px;
  }
  100% {
    background-size: 300% 300%;
  }
}
@-webkit-keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}
@keyframes glow {
  40% {
    text-shadow: 0 0 8px #fff;
  }
}